/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: url("https://www.dropbox.com/s/xvgy6j16ly0dgls/site-landing-img.jpg?raw=1");
  background-size: cover;
  background-position: 300px 200px;
  min-height: 500px;
  color: white;
}

.bannerTitle {
  /* backdrop-filter: blur(2px); */
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seeWhatsNew {
  margin: 10px 10px;
  text-align: left;
  background-color: rgba(38,172,124,0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 30px
}
#seeWhatsNewImg {
  height: 100px;
  padding: 20%;
  justify-self: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../static/img/newspaper.svg");

}
#seeWhatsNewTitleGradient {
  color: transparent;
  font-size:xx-large;
  font-weight: 700;
  background-color: #26AC7C;
  -webkit-background-clip: text;
  background-clip: text;
  padding-bottom: 30px;
  justify-self: center;
  padding: 20px 0px;
}
